<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <form action="">
    <label for="">adasd</label>
    <input type="text">
    <label for="">test desde el main</label>
    <input type="test desde el main">
    <label for="">test desde el ismo main</label>
    <label for="">test desde la rama pro</label>
    <input type="rama-pro" name="" id="">
    <label for="">test desde la rama pro</label>
  </form>
</head>
<script src="../pruebas.js"></script>
<body>

</body>
</html>